.sign-in {
  margin: 10px 20px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;

  .flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
