.header {
  height: 70px;
  width: 95vw;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-container {
    height: 100%;
    padding: 25px;
  }

  .options-container {
    display: flex;
    margin-top: 15px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 25px;
      text-decoration: none;
      font-size: 25px;
      font-weight: 500;
      color: black;
      cursor: pointer;
    }
  }
}
